[remenex-marquee] {
  overflow: hidden;
  position: relative;
}

[remenex-viewport] {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

[remenex-container] {
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}

[remenex-slide] {
  flex: 0 0 auto;
}

[remenex-marquee][data-remenex-axis="y"] [remenex-container] {
  flex-direction: column;
}